#about {
  background: url(/about/background-img.jpg);
  background-position: right;
  background-attachment: fixed;
}

.card-Hover:hover {
  width: 350px;
  height: 220px;
  transition: 1s;
}
.container-about {
  position: relative;
  /* width: 97%; */
  /* border: 1px solid red; */
  padding: 2px;
  border-radius: 20px;
}

.img-about {
  /* display: block; */
  width: 300px;
  height: 200px;
  object-fit: contain;

  border-radius: 20px;
}

.overlay-about {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container-about:hover .overlay-about {
  bottom: 0;
  height: 100%;
  border-radius: 20px;
}

.text-about {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text-about {
  white-space: nowrap;
  color: white;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .img-about {
    width: 300px;
    height: 150px;
  }
}
